.sidebar{
    
    width: 15vw;
    margin: 10px;
    padding:  20px;
    padding:  20px;
    border-right: 2px solid #cfcfcf;
    height: 100%;
    position: fixed;


}
.sidebar-labels{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
label{
    margin: 3px;
}
input{
    margin: 4px;
}