*{
    margin: 0;padding: 0;box-sizing: border-box;
    font-family: sans-serif;
}

input{
    /* width: 30%; */
    padding: 10px 20px ;
    outline: none;
    border: 0.6px solid #cfcfcf;
    color: black;
}

.btn{
    border: 2px solid #efefef;
    margin: 5px;
    padding: 2px 10px;
}
.recomend{
    margin: 4px 21rem;
    margin-top: 10px;
}